<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/css/jquery.min.js"></script>
    <script src="/static/css/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="/static/css/style.css">

</head>
<body>

<div class="text-center">
    <h1>List of all topics</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-10">
            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th class="text-center">Topic</th>
                    <th class="text-center">Incoming Links</th>
                    <th class="text-center">Outgoing Links</th>
                </tr>
                </thead>
                <tbody>
                {{range $topic := .Topics}}
                    <tr>
                        {{$fname := $topic.Name}}
                        {{if $topic.Exists}}
                            <td>
                                <a href="/view/{{$fname}}">
                                    {{$fname}}
                                </a>
                            </td>
                        {{else}}
                            <td>
                                <a href="/view/{{$fname}}"  style="color:red">
                                    {{$fname}}
                                </a>
                            </td>
                        {{end}}
                        <td class="text-center">{{$topic.Incoming}}</td>
                        <td class="text-center">{{$topic.Outgoing}}</td>
                    </tr>
                {{end}}
                </tbody>
            </table>
        </div>
        <div class="col-2">
            <h3>Navigate</h3>
            <ul>
                <li><a href="{{.HomePage}}">Home</a></li>
            </ul>

        </div>
    </div>
</div>
</div>


</body>
</html>