<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{{title .Topic}}</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/css/jquery.min.js"></script>
    <script src="/static/css/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div class="text-center">
    <h1>{{title .Topic}}</h1>

    <p>[<a href="/edit/{{.Topic}}">edit</a>]</p>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-10">
            {{.Render}}
        </div>
        <div class="col-2">
            <div class="container-fluid">

                <div class="row">
                    <div class="col">
                        <h3>Navigate</h3>
                        <ul>
                            <li><a href="{{.HomePage}}">Home</a></li>
                            <li><a href="/list">All pages</a></li>
                        </ul>
                    </div>
                </div>


                <div class="row">
                    <div class="col">
                        <h3>Incoming</h3>
                        <ul>
                            {{range $lnk := .IncomingLinks}}
                                <li>
                                    <a href="{{$lnk}}">{{$lnk}}</a>
                                </li>
                            {{end}}
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <h3>Outgoing</h3>
                        <ul>
                            {{$pg := .}}
                            {{range $lnk := .OutgoingLinks}}
                                <li>
                                    {{if ($pg.PageExists $lnk)}}
                                        <a href="{{$lnk}}">{{$lnk}}</a>
                                    {{else}}
                                        <a href="{{$lnk}}" style="color:red">{{$lnk}}</a>
                                    {{end}}
                                </li>
                            {{end}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>